* {
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* *,
*:before,
*:after {
    box-sizing: inherit;
} */
/* body {
    background-color: #99a10050;
    background-color: #00030050;
    background-image: linear-gradient(to right, #01022d, #000);
    background: linear-gradient(to right, #000004e5, #06040478 30%),url(image/pexels-adria-masi-461420600-27962178.jpg) ;
    background-color: #dad3f8;
    /* background: linear-gradient(#111, #222); */
/* } */



.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #0ad1c8, #c3c7f3);
}

.container .title{
    width: 460px;
    /* height: 250px; */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 16px -1px  red;
    padding: 20px;
}

.container .title .logo{
    font-size: 20px;
    font-weight: 500;
    text-transform:capitalize;
    margin-bottom: 20px;
}


.container .title .one{
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px ;
    border-radius: 5px;
    cursor: pointer;
    margin: 13px 0;
    border: 2px solid transparent;
    transition: .3s;
}
.container .title .one:hover{
    background-color: #c8a8e9;
}

.container .title .one .left {
    position: relative;
}
.container .title .one .left .empty{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 15px;
    display: inline-block;
}
.container .title .one .left .empty::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    background-color: #ccc;
}

.container .title .one .left .world{
    display: inline-flex;
}

.container .title input[type="radio"]{
    display: none;
}


#hds:checked ~ label.hds,
#java:checked ~ label.java,
#php:checked ~ label.php{
    background-color: #d5bbf7;
    border: 2px solid  #8e49e8;
}


#hds:checked ~ .hds .empty,
#java:checked ~ .java .empty,
#php:checked ~ .php .empty{
    background: #641cc2;
}










/* 
    #d5bbf7
    #8e49e8

*/






















































